@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  --bg-color-left: rgba(87, 84, 236, 0.7);
  --bg-color-right: rgba(43, 43, 43, 0.7);
  --btn-color-left: rgba(87, 84, 236, 1);
  --btn-color-right: rgba(28, 122, 28, 1);
  --width-hover: 75%;
  --width-other: 25%;
  --speed: 0.7s;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.prev-proj {
  position: fixed;
  top: 20px;
  left: 20px;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
  color: lightgray;
  cursor: pointer;
  z-index: 1;
}
.next-proj {
  position: fixed;
  top: 20px;
  right: 20px;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
  color: lightgray;
  cursor: pointer;
  z-index: 1;
}

.prev-proj:hover,
.next-proj:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
}

h1 {
  font-size: 4rem;
  color: #fff;
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translateX(-50%);
  white-space: nowrap;
}

button {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translateX(-50%);
  color: white;
  background-color: transparent;
  border: 0.2rem solid white;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  width: 15rem;
  padding: 1.5rem;
  cursor: pointer;
}

.left button:hover {
  background: var(--btn-color-left);
  border-color: var(--btn-color-left);
}

.right button:hover {
  background: var(--btn-color-right);
  border-color: var(--btn-color-right);
}

.left {
  position: absolute;
  left: 0;
  width: 50%;
  height: 100%;
  background: url("./ps.jpg") no-repeat 0 0 / cover;
  overflow: hidden;
  transition: var(--speed);
}

.left::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--bg-color-left);
}

.right {
  position: absolute;
  right: 0;
  width: 50%;
  height: 100%;
  background: url("./xbox.jpg") no-repeat 0 0 / cover;
  overflow: hidden;
  transition: var(--speed);
}

.right::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--bg-color-right);
}

.left:hover {
  width: var(--width-hover);
}

.left:hover + .right {
  width: var(--width-other);
}

.right:hover {
  width: var(--width-hover);
}

.container:has(.right:hover) .left {
  width: var(--width-other);
}

@media (max-width: 800px) {
  h1 {
    font-size: 2rem;
    top: 30%;
  }

  button {
    padding: 1.2rem;
    font-size: 0.8rem;
    width: 10rem;
  }
}
